html {
    font-family: Arial, sans-serif;
}

header {
    padding: 0.02px;
    background-color: rgb(130, 10, 10);
    text-align: center;
    color: rgb(255,210,0);
    font-weight: 900;
    font-size: 32px;
}

footer {
    padding: 5px;
    background-color: rgb(130, 10, 10);
    color: rgb(200, 200, 200);
}

a:link {
    color: rgb(210, 165, 0);
}

a:visited {
    color: rgb(145, 120, 0);
}

ul {
    text-align: left;
    margin-top: 0.01em;
    display: flex;
    flex-direction: column;
}

li {
    color: rgb(130, 10, 10);
}

h2 {
    color: rgb(130, 10, 10);
    margin-top: 0.01em;
    margin-bottom: 0.5em;
}

h3 {
    color: rgb(255,210,0);
}

img {
    border: 5px solid rgb(130, 10, 10);
    vertical-align: middle;
    border-radius: 5px;
    align-self: center;
}

.container {
    border-spacing: 2px;
    display: grid;
    grid-template-areas: "content nav";
    grid-template-columns: auto auto;
    vertical-align: top;
    text-align: center;
}

.content {
    grid-area: content;
}

.nav {
    background-color: rgb(200, 200, 200);
    grid-area: nav;
}

.logo {
    border: 10px solid rgb(200, 200, 200);
    margin-bottom: 0%;
}

div {
    display: flex;
    justify-content: center;
    align-items: center;
}

.info {
    margin: 0 10%;
    text-align: left;
}

.row>.column {
    padding: 8px;
}

/* Create four equal columns that floats next to eachother */
.column {
    float: left;
    width: 75%;
}

/* The Modal (background) */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(170, 170, 170, 0.6);
}

/* Modal Content */
.modal-content {
    position: relative;
    background-color: rgba(0, 0, 0, 0);
    margin: auto;
    padding: 0;
    width: 90%;
    max-width: 1100px;
}

.modal-content img {
    width: 100%;
    height: auto;
    display: block;
}

/* The Close Button */
.close {
    color: rgb(0, 0, 0);
    position: absolute;
    top: 15px;
    right: 50px;
    font-size: 75px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: rgb(255, 0, 0);
    text-decoration: none;
    cursor: pointer;
}

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

/* Hide the slides by default */
.mySlides {
    display: none;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -50px;
    color: rgb(220, 220, 220);
    font-weight: bold;
    font-size: 20px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

.prev {
    left: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
    color: rgb(220, 220, 220);
    font-size: 14px;
    font-weight: bold;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

img.demo {
    opacity: 0.6;
}

.active,
.demo:hover {
    opacity: 1;
}

img.hover-shadow {
    transition: 0.3s;
    max-width: 100%;
    max-height: 200px;
    height: auto;
}

.hover-shadow:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.event-list {
    list-style: none;
    padding: 0;
    margin: 0;
    border-top: 1px solid rgb(130, 10, 10);
    border-bottom: 1px solid rgb(130, 10, 10);
}
.event-list-item {
    padding: 10px;
    border-top: 1px solid rgb(130, 10, 10);
    border-bottom: 1px solid rgb(130, 10, 10);
    text-align: center;
}
.event-list-item strong {
    margin-right: 10px;
    color: #555;
}
.event-list-item span {
    margin-right: 10px;
    color: rgb(210, 165, 0);
}

.contact {
    margin: 0 10%;
    text-align: center;
}

.contact strong {
    color: rgb(130, 10, 10);
    margin-bottom: 10%;
}

.contact em {
    font-weight: bold;
    font-style: normal;
}

@media only screen and (max-width: 450px) {
  header {
    font-size: 7vw;
  }
}

@media only screen and (max-width: 800px) {
  div {
    flex-direction: column;
  }
}

@media only screen and (max-width: 999px) {
  .container {
    grid-template-areas: "nav" "content";
    grid-template-columns: auto;
  }

  ul{
    flex-direction: row;
    list-style: none;
    text-align: center;
    vertical-align: center;
    justify-content: space-around;
    max-width: 750px;
    font-size: 5vw;
    padding: 0;
    margin: auto;
  }

  h2 {
    display: none;
  }

  .logo {
    display: none;
  }
}

@media only screen and (min-width: 1000px) {
  .nav {
    padding-left: 40px;
    padding-right: 40px;
  }

  .lower {
    display: none;
  }
}